<!-- login.component.html -->
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <h3>Вход</h3>

  <label for="email">Email</label>
  <input
    type="email"
    placeholder="Email"
    id="email"
    formControlName="email"
    required
  />
  <div
    *ngIf="email.invalid && (email.dirty || email.touched)"
    class="error-message"
  >
    <div *ngIf="email.errors?.['required']">Email обязателен.</div>
    <div *ngIf="email.errors?.['email']">Введите корректный email.</div>
  </div>

  <label for="password">Пароль</label>
  <input
    type="password"
    placeholder="Пароль"
    id="password"
    formControlName="password"
    required
  />
  <div
    *ngIf="password.invalid && (password.dirty || password.touched)"
    class="error-message"
  >
    <div *ngIf="password.errors?.['required']">Пароль обязателен.</div>
    <div *ngIf="password.errors?.['minlength']">
      Пароль должен содержать не менее 6 символов.
    </div>
  </div>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <button type="submit" [disabled]="loginForm.invalid">Войти</button>
</form>
