// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
:host {
  display: block;
  min-height: 100vh;
}

router-outlet + * {
  padding-top: 80px; // Высота header
  min-height: calc(100vh - 80px);
  display: block;
}
