<header>
  <div class="wrapper">
    <a class="logo" routerLink="/">ТалонBy</a>
    
    <nav class="menu-container">
      <ul class="header-menu">
        <li><a routerLink="/order">Талоны</a></li>
        <li><a routerLink="/paid-services">Платные услуги</a></li>
        <li><a routerLink="/medical-institutions">Медучреждения</a></li>
        <li><a routerLink="/analyses">Анализы</a></li>
        <li><a routerLink="/medicines">Лекарства</a></li>
        <li><a routerLink="/blog">Блог</a></li>
      </ul>
    </nav>

    <div class="right">
      <button class="burger-menu" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a routerLink="/login" class="login-link">Войти</a>
      <a routerLink="/login" [queryParams]="{mode: 'register'}">Регистрация</a>
    </div>
  </div>

  <!-- Мобильное меню -->
  <div class="mobile-menu" [class.active]="isMenuOpen">
    <nav>
      <ul>
        <li><a routerLink="/order">Талоны</a></li>
        <li><a routerLink="/paid-services">Платные услуги</a></li>
        <li><a routerLink="/medical-institutions">Медучреждения</a></li>
        <li><a routerLink="/analyses">Анализы</a></li>
        <li><a routerLink="/medicines">Лекарства</a></li>
        <li><a routerLink="/blog">Блог</a></li>
        <li><a routerLink="/blog">Тест</a></li>
      </ul>
    </nav>
  </div>
</header>
