@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  flex-grow: 1;
  a {
    font-size: 28.8px;
    font-weight: bold;
    color: #ff6600;
    text-decoration: none;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  gap: 24px;

  li a {
    color: #000;
    text-decoration: none;
    font-size: 19.2px;
  }
}

.profile {
  flex-grow: 1;
  text-align: right;
  a {
    color: #ff6600;
    text-decoration: none;
    font-size: 19.2px;
    font-weight: bold;
  }
}
