<footer>
  <div class="wrapper">
    <div class="footer">
      <div class="left">
        <ul id="footMenu">
          <li class="footMenuItem"><a routerLink="/about">О проекте</a></li>
          <li class="footMenuItem">
            <a routerLink="/faq" class="openHelp">Помощь</a>
            <span class="development-note"><br/>(в разработке)</span>
          </li>
          <li class="footMenuItem"><a routerLink="/login/policlinic">Вход для медучреждений</a></li>
          <li class="footMenuItem"><a href="https://b2b.talon.by" target="_blank">Подключиться</a></li>
        </ul>
        
        <div class="social-links-block">
          <p>Наши соцсети</p>
          <div class="social-links">
            <a class="social-link social-link-vk" target="_blank" href="https://vk.com/talon_by">
              VK
            </a>
            <a class="social-link social-link-telegram" target="_blank" href="https://t.me/talonby">
              <span class="icon site-icon site-icon-social-telegram"></span>
            </a>
            <a class="social-link social-link-viber" target="_blank" href="https://invite.viber.com/?g2=AQAOJTVUYsMBGUtPFI9JRcEKZaAzVBshYdy%2BhPthptW%2FdwxVN5IhD8iRfq%2FVx5aN">
              <span class="icon site-icon site-icon-social-viber"></span>
            </a>
          </div>
        </div>
        
        <div class="footer-extra-links">
          <div class="footer-extra-link-items">
            <div class="footer-extra-link-item">
              <a routerLink="/terms" class="footer-extra-link">Пользовательское соглашение</a>
            </div>
            <div class="footer-extra-link-item">
              <a routerLink="/legal-docs" class="footer-extra-link">Документы</a>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
        <a href="/faq" id="openFeedback" class="tui-button tui-button-outline tui-button-small">
          Написать в поддержку <span class="development-note"><br/>(в разработке)</span>
        </a>
        <p class="copyright-text">
          © <a href="http://www.mapsoft.by/" target="_blank" rel="noopener noreferrer">ООО «DES»</a>, 
          2010-{{currentYear}}<br> Все права защищены
        </p>
      </div>
    </div>
  </div>
</footer> 