/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #2196F3;  // Основной синий цвет сайта
  --text-color: #333333;
  --background-color: #f5f5f5; // Светло-серый фон
  --white-color: #FFFFFF;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: var(--white-color);
}
